.theme{
  transition: all 0.4s;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #505050;
}

.theme:hover{
  background-color: #ff0080;
  color: white;
  border: 5px solid #fff;
  box-shadow: 1px 1px 2px #e6e6e6;
}

.nimg>img:hover{
  height: 70px;
  width: 70px;
  transition: all 0.3s;
}